In [5]:
sentence1 = 'I will walk 500 miles and I would walk 500 more. Just to be the man who walks a thousand miles to fall down at your door!'
sentence2 = 'I played the play playfully as the players were playing in the play with playfullness '

# Tokenization

In [7]:
from nltk import word_tokenize, sent_tokenize

print('Tokenized words : ',word_tokenize(sentence1))
print('\n Tokenized sentences : ', sent_tokenize(sentence1))

Tokenized words :  ['I', 'will', 'walk', '500', 'miles', 'and', 'I', 'would', 'walk', '500', 'more', '.', 'Just', 'to', 'be', 'the', 'man', 'who', 'walks', 'a', 'thousand', 'miles', 'to', 'fall', 'down', 'at', 'your', 'door', '!']

 Tokenized sentences :  ['I will walk 500 miles and I would walk 500 more.', 'Just to be the man who walks a thousand miles to fall down at your door!']

# POS Tagging

In [8]:
from nltk import pos_tag

token = word_tokenize(sentence1) + word_tokenize(sentence2)
tagged = pos_tag(token)

print('Tagging Parts of speech: ',tagged)

Tagging Parts of speech:  [('I', 'PRP'), ('will', 'MD'), ('walk', 'VB'), ('500', 'CD'), ('miles', 'NNS'), ('and', 'CC'), ('I', 'PRP'), ('would', 'MD'), ('walk', 'VB'), ('500', 'CD'), ('more', 'JJR'), ('.', '.'), ('Just', 'NNP'), ('to', 'TO'), ('be', 'VB'), ('the', 'DT'), ('man', 'NN'), ('who', 'WP'), ('walks', 'VBZ'), ('a', 'DT'), ('thousand', 'NN'), ('miles', 'NNS'), ('to', 'TO'), ('fall', 'VB'), ('down', 'RP'), ('at', 'IN'), ('your', 'PRP$'), ('door', 'NN'), ('!', '.'), ('I', 'PRP'), ('played', 'VBD'), ('the', 'DT'), ('play', 'NN'), ('playfully', 'RB'), ('as', 'IN'), ('the', 'DT'), ('players', 'NNS'), ('were', 'VBD'), ('playing', 'VBG'), ('in', 'IN'), ('the', 'DT'), ('play', 'NN'), ('with', 'IN'), ('playfullness', 'NN')]

# Stop-words removal

In [9]:
from nltk.corpus import stopwords

stop_words = stopwords.words('english')

token = word_tokenize(sentence1)
cleaned_token = []

for word in token:
    if word not in stop_words:
        cleaned_token.append(word)
        
print('Unclean version : ',token)
print('\n Cleaned version : ',cleaned_token)

Unclean version :  ['I', 'will', 'walk', '500', 'miles', 'and', 'I', 'would', 'walk', '500', 'more', '.', 'Just', 'to', 'be', 'the', 'man', 'who', 'walks', 'a', 'thousand', 'miles', 'to', 'fall', 'down', 'at', 'your', 'door', '!']

 Cleaned version :  ['I', 'walk', '500', 'miles', 'I', 'would', 'walk', '500', '.', 'Just', 'man', 'walks', 'thousand', 'miles', 'fall', 'door', '!']

# Stemming

In [10]:
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()
token = word_tokenize(sentence2)
stemmed = [stemmer.stem(word) for word in token]

print(" ".join(stemmed))

i play the play play as the player were play in the play with playful

# lemmatization

In [12]:
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
token = word_tokenize(sentence1)
lemmatized_output = [lemmatizer.lemmatize(word) for word in token]

print(' '.join(lemmatized_output))

I will walk 500 mile and I would walk 500 more . Just to be the man who walk a thousand mile to fall down at your door !

# PART2

In [1]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
documentA = 'Jupiter is the largest Planet'
documentB = 'Mars is the first planet from the Sun'

In [3]:
bagOfWordsA = documentA.split(' ')
bagOfWordsB = documentB.split(' ')

In [4]:
uniqueWords = set(bagOfWordsA).union(bagOfWordsB)
uniqueWords

{'Jupiter',
 'Mars',
 'Planet',
 'Sun',
 'first',
 'from',
 'is',
 'largest',
 'planet',
 'the'}

In [5]:
numOfWordsA = dict.fromkeys(uniqueWords,0)

In [8]:
for word in bagOfWordsA:
    numOfWordsA[word]+= 1

In [11]:
numOfWordsB = dict.fromkeys(uniqueWords,0)
for word in bagOfWordsB:
    numOfWordsB[word]+= 1

In [14]:
numOfWordsB

{'Jupiter': 0,
 'largest': 0,
 'Planet': 0,
 'first': 1,
 'planet': 1,
 'is': 1,
 'from': 1,
 'Sun': 1,
 'the': 2,
 'Mars': 1}

In [18]:
def computeTF(wordDict,bagOfWords):
    TfDict = {}
    bagOfWordsCount = len(bagOfWords)
    for word,count in wordDict.items():
        TfDict[word]= count/float(bagOfWordsCount)
    return TfDict

In [20]:
tfA =computeTF(numOfWordsA,bagOfWordsA)
tfB =computeTF(numOfWordsB,bagOfWordsB)

In [21]:
tfA

{'Jupiter': 0.2,
 'largest': 0.2,
 'Planet': 0.2,
 'first': 0.0,
 'planet': 0.0,
 'is': 0.2,
 'from': 0.0,
 'Sun': 0.0,
 'the': 0.2,
 'Mars': 0.0}

In [22]:
tfB

{'Jupiter': 0.0,
 'largest': 0.0,
 'Planet': 0.0,
 'first': 0.125,
 'planet': 0.125,
 'is': 0.125,
 'from': 0.125,
 'Sun': 0.125,
 'the': 0.25,
 'Mars': 0.125}

In [23]:
def computeIDF(documents):
    import math
    N= len(documents)
    idfDict = dict.fromkeys(documents[0].keys(),0)
    for document in documents:
        for word, val in document.items():
            if val > 0:
                idfDict[word]+=1
    for word,val in idfDict.items():
        idfDict[word] = math.log(N/float(val))
    return idfDict

In [24]:
idfs = computeIDF([numOfWordsA,numOfWordsB])

In [25]:
idfs

{'Jupiter': 0.6931471805599453,
 'largest': 0.6931471805599453,
 'Planet': 0.6931471805599453,
 'first': 0.6931471805599453,
 'planet': 0.6931471805599453,
 'is': 0.0,
 'from': 0.6931471805599453,
 'Sun': 0.6931471805599453,
 'the': 0.0,
 'Mars': 0.6931471805599453}

In [31]:
def computeTFIDF(tfBagOfWords,idfs):
    tfidf ={}
    for word , val in tfBagOfWords.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [32]:
tfidfA = computeTFIDF(tfA,idfs)
tfidfB = computeTFIDF(tfB,idfs)

In [33]:
tfidfA

{'Jupiter': 0.13862943611198905,
 'largest': 0.13862943611198905,
 'Planet': 0.13862943611198905,
 'first': 0.0,
 'planet': 0.0,
 'is': 0.0,
 'from': 0.0,
 'Sun': 0.0,
 'the': 0.0,
 'Mars': 0.0}

In [34]:
tfidfB

{'Jupiter': 0.0,
 'largest': 0.0,
 'Planet': 0.0,
 'first': 0.08664339756999316,
 'planet': 0.08664339756999316,
 'is': 0.0,
 'from': 0.08664339756999316,
 'Sun': 0.08664339756999316,
 'the': 0.0,
 'Mars': 0.08664339756999316}

In [35]:
df = pd.DataFrame([tfidfA,tfidfB])

In [36]:
df

,Jupiter,largest,Planet,first,planet,is,from,Sun,the,Mars
0,0.138629,0.138629,0.138629,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000
1,0.000000,0.000000,0.000000,0.086643,0.086643,0.0,0.086643,0.086643,0.0,0.086643